html,
body {
  height: 100%;
  background-color: whitesmoke;
}

.bgs {
  height: 600px;
  width: 100%;
  padding: 6px;
  background: linear-gradient(to bottom left, #6666ff 0%, #33cccc 100%);
}

h2 {
  font-family: "Roboto", sans-serif;
  padding-left: 120px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding-left: 120px;
}

img:not(.bgs) {
  width: 10%;
  height: 20%;
  display: block;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* fraction*/
  }

div.chd1 img:not(.bgs) {
  width: 25%;
  float: left;
  height: 30%;
  padding-left: 120px;
  font-family: "Roboto", sans-serif;
}

div.chd2 img:not(.bgs) {
    width: 100%;
    float: right;
    height: 100%;
  }


button.btnn {
  color: white;
  border-color: #b7266a;
  background: #d52c82;
  border-radius: 6px;
  box-shadow: none;
  padding: 15px 32px;
  margin-bottom: 125px;
  display: block;
}

/*
.leftdiv{
    float:left;
    padding-left: 120px;  
}

.rightdiv img:not(.bgs){
    float:right;
    height: 10%;
    width: 20%;
    padding-right: 120px; 
}
*/

footer {
  text-align: center;
  height: 200px;
  width: 100%;
  padding: 6px;
  background-color: #242629;
  color: white;
}
hr {
  width: 80%;
  background-color: grey;
  height: 5px;
  border-width: 6;
}
